.navbar_style {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #0BB3D9;
}

.nav-link:hover {
    border-bottom: 3p solid white;
    transition: 0.3s;
}

body {
    background-color: black;
}

.body_style {
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

.navbar_style ul li {

    a:hover {
        color: #025373 !important;
        border-bottom: 1px solid white;
    }

}

.navbar-nav .nav-link {
    color: white !important;

}

.footer_style {
    background-color: #0BB3D9;
    color: white;
    font-size: 10px;
}

.footer_style a {
    margin: 2%;
}

/* Efecto parallax */

.parallax {
    /* The image used */
    background-image: url(../image/galery/world_tour_2.jpg);

    /* Set a specific height */
    height: 350px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* TOUR*/

.list-group-item {
    background-color: black;
    font-size: 20px;
}

.btn-primary {
    background-color: #0BB3D9 !important;
}

.btn-primary:hover {
    background-color: #025373 !important; 
    transition: 0.5s;
}

/* GALERIA */

.obj_flex {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
}

.obj_flex iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%
}

/* CONTACTO */

.contact_main {
    display: flex;
    flex-direction: row;
    width: 100%;

    .contacto_text {
        width: 60%;
        margin: 20px;
    }

    .contact_form {
        width: 40%;
        padding: 20px;
    }
}
